
.post-block-style
{
  background-color: white;
  border: 2px black solid;
  margin-top: .5rem;
  padding: 1.3rem;
}
.reply-block-style
{
  background-color: lightgrey;
  margin-top: .5rem;
  padding: 0.2rem;
}
.block__message
{
  color: black;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
