.form
{
  display: flex;
}
.form__input
{
  border: 1px solid grey;
  padding: 1.3rem;
  flex-grow: 1;
}
.replyform
{
  display: flex;
}
.replyform__input
{
  border: 0.5px solid grey;
  padding: 1.3rem;
  flex-grow: 1;
}
