* {
  margin: 0;
  padding: 0;
}
body {
  background-color: darkblue;
  font-size: 1.6rem;
  font-family: Helvetica, Arial;
}
html {
  font-size: 62.5%;
}
h1 {
  font-weight: 300;
  font-size: 2.4rem;
}
input, button, select {
  font-size: 1.4rem;
}
@import './components/_title.scss';
@import './components/_wrapper.scss';
@import './components/_block.scss';
@import './components/_button.scss';
@import './components/_form.scss';
@import './components/_post.scss';
@import './components/_reply.scss';
